
.mainSearch {
  background: none !important;
  min-height: unset !important;
  position: relative;
  z-index: 1;
  top: -50px;

  &_container {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-bottom: 8px;
    // background: #020101 !important;
    background: hsla(0, 33.33333333%, 0.58823529%, 0.50) !important;
    box-shadow: 0px 2px 2px #000;

    border-radius: 4px;
  }
}

.searchNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid #54667A;

  &_item {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
  }

  &_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: white;

    padding-top: 5px;
    padding-bottom: 15px;

    &-label {
      margin-bottom: 0px !important;

      font-family: 'Lato', sans-serif;
    }

    &-icon {
      color: white;
      margin-right: 5px !important;
    }

    &:hover {
      color: white;
      cursor: pointer;

    }
  }
}

.searchNav_link.nav-link {
  color: white;
}

.searchNav_link.active {
  background-color: transparent !important;
  border-radius: 0px;
  border-bottom: 4px solid #3EB8E7;
}

.searchForm {
  padding-top: 10px;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;

  & > .row > .col-sm-12 {
    float: left;
  }

  &_input {
    display: inline-block;
    background-color: #FFF;
    padding-left: 10px;

    border: 1px solid #00000029;
    border-radius: 0px;
    height: 50px;
    width: 96% !important;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-decoration: none;

    color: #54667a;
    cursor: pointer;
  }

  &_select {
    border-radius: 0px;
    height: 50px;
  }

  &_submit {
    width: 100%;
    height: 50px;

    background-color: #0FB2F1 !important;
    border-color: #0FB2F1 !important;
    border-radius: 0px !important;
  }
}
