
.report-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: scroll;

  width: unset;
  background-color: #ffff;
  border-radius: 5px;

  margin: 0px 12px;
  padding: 12px 8px;

  &_option {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 24%;
    min-height: 24%;
    background-color: #f4f4f4;

    margin: 4px 6px;

    transition: transform .2s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    & h5 {
      color: #ffff;
      font-weight: bold;
      margin-top: 8px;
    }

    & figure {
      margin-bottom: 8px;
    }

    & p {
      margin-bottom: 0px;
      padding: 2px 8px;
    }

    &_img {
      object-fit: cover;
      width: 100%;
      height: 200px;
    }

    &_info {
      position: relative;
      width: 100%;

      & h5 {
        position: absolute;
        bottom: 0;
        left: 10px;
      }
    }
  }
}
