.report-modal {
  max-width: 1000px;

  & img {
    width: 200px;
    height: 200px;
  }

  &__text {
    color: #54667A;
    margin-bottom: 0px;

    & strong {
      margin-left: 5px;
    }
  }

  &__divider {
    margin: 8px 0px;
    border-bottom: 2px solid #54667A;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-geral {
      display: flex;
      flex-direction: column;
      width: 55% !important;
    }

    &-choices {
      width: 45% !important;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 12px;

      border-left: 2px solid #54667A;
    }
  }

  &__activities {
    display: flex;
    flex-direction: column;

    padding: 10px;

    &-day {
      display: flex;
      flex-direction: column;

      padding: 8px;
      margin: 4px 0px;

      background-color: #f5f5f5;
      border-radius: 5px;

      & h4 {
        color: #2653a3;
        margin: 0px;
      }

      &-periods {
        display: flex;
        flex-direction: column;

        & p {
          margin-bottom: 0px;
        }

        & strong {
          font-weight: bold;
          color: #2653a3;
          margin-right: 5px;
        }
      }
    }
  }

  &__image-group {
    padding: 10px;

    &-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-item {
      margin: 2px 4px;
      background-color: #f5f5f5;
      min-width: 100px;
      max-width: 200px;

      & h5 {
        color: #2653a3;
        padding: 0px 4px;
      }

      & p {
        font-size: 16px;
        color: #54667A;
        padding: 8px;
        margin-bottom: 0px;

        & strong {
          margin-left: 5px;
          font-weight: bold;
          color: #2653a3;
        }
      }

      &-top {
        position: relative;

        & h5 {
          position: absolute;
          color: #ffff;
          font-weight: bold;
          bottom: 0px;
        }
      }

      &-bot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  &__flights {
    display: flex;
    flex-direction: row;

    & h5 {
      margin: 0px;

      & strong {
        color: #2653a3;
        margin-right: 5px;
      }
    }

    &-going {
      width: 50%;
      padding: 8px;

      border-right: 2px solid #54667A;
    }

    &-return {
      width: 50%;
      padding: 8px;
    }

    &-list {
      display: flex;
      flex-direction: column;
    }
  }

  &__flight {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;

    padding: 8px;
    margin: 4px 0px;
    background-color: #f5f5f5;
    border-radius: 5px;

    & p {
      margin-bottom: 0px;
      margin: 0px 5px;
    }

    &-traject {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
    }

    &-visual {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      color: #54667A;

      &-line {
        border: 2px solid #54667A;
        border-radius: 50%;
        flex-grow: 1;
      }
    }
  }
}
